body
{
	background-color: #141d26;
}

.jumbotron
{
	background-color: #0b1016;
}

label,h3,h1,h2,h4
{
	color: #ffffff;
}

a
{
	color: #c51f5d;
}

li:hover
{
	background-color: #c5d0e2;
}

a:hover
{
	color: #c51f5d;
}

.section
{
	background-color: #243447;
}
